.container {
    width: 100vw;
    height: 100vh;
    background-image: url(./dogPuzzleGame-textrue/gameTeture/dog-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* 畫面限制範圍------------------------------------------ */
#content {
    width: 76%;
}

/* 整體遊戲畫面--------------------------------------------- */
#gameCanvas {
    width: 1430px;
    height: 690px;
    /* background-color: rgba(102, 94, 94, 0.5); */
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 拼圖拖曳區 */
.drag {
    position: absolute;
    top: 280px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 690px;
    height: 410px;
    gap: 10px;
    cursor: grab;
}

.drag .dragBox {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: #0003;
}

.drag .dragBox:active {
    cursor: grabbing;
}

.images {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
}

#timer {
    position: absolute;
    top: -12%;
    right: -4%;
    transform: translate(-50%, -50%);
    color: rgb(25, 80, 68);
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}

#progressContainer {
    width: 64%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px 0;
    height: 20px;
    position: absolute;
    top: -10%;
    right: 0%;
    
}

#progressBar {
    height: 100%;
    width: 0;
    background-color: #76c7c0;
    transition: width 1s linear;
}

/* 提交遊戲 button */
.submit-btn {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 36px 24px;
    border: none;
    border-radius: 8px;
    background: #56d1cb;
    color: white;
    font-weight: bolder;
    font-size: 26px;
    cursor: pointer;
    /* uppercase、lowercase、capitalize 首字母轉大寫 */
    text-transform: uppercase;
    text-align: center;
    box-shadow: 4px 4px 6px #398881;
}

.submit-btn:hover {
    filter: brightness(90%);
}

/* 當前關卡 level 顯示 */
.row{
    width: 24%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
}

.activeLevelColor {
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    background: #eea12d;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 2px 2px 4px #725832;
}

.disableLevelColor {
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    background: #9e8e75;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 2px 2px 4px #725832;
}

#level1 {
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    background: #9e8e75;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 2px 2px 4px #725832;
}

/* .bg-color{
    background: #eea12d;
} */

#level2,
#level3{
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    background: #9e8e75;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 2px 2px 4px #725832;
}

/* 拼圖放置區 */
.board {
    position: absolute;
    top: 0px;
    right: 0px;
    /* 網格容器 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* background-color: bisque; */
}

.dropBox {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: rgba(27, 109, 98, 0.22);
    cursor: grab;
}

.dropBox:active {
    cursor: grabbing;
}

/* 開始畫面設定-------------------------------------------------------- */
/* 讓 st-bg,container 畫面初始時分別顯示和隱藏 */
.st-bg,
.container {
    display: none;
}

/* 開始畫面 */
.st-bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./dogPuzzleGame-textrue/gameTeture/st-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* 初始顯示開始畫面 */
    display: block;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    width: 780px;
}

#paly-btn {
    width: 280px;
}

#paly-btn:hover {
    width: 280px;
    cursor: pointer;
    filter: brightness(120%);
}

.logo-animation {
    animation-direction: alternate;
    animation-duration: 1s;
}

.infinite-animation {
    animation-iteration-count: infinite;
    /* 持續時間 */
    animation-duration: 1s;
    /* 延遲時間 */
    animation-delay: 1.5s;
}

.infinite-animation-husky {
    animation-iteration-count: infinite;
    /* 持續時間 */
    animation-duration: 1s;
    /* 延遲時間 */
    animation-delay: 0.25s;
}

/* 遊戲關卡設定------------------------------------ */
.level-bg{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./dogPuzzleGame-textrue/gameTeture/levelCollection-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* 初始顯示開始畫面 */
    display: none;
}

#level-logo{
    position: absolute;
    top: 6%;
    left: 36%;
    width: 600px;
}

/* 問號關卡設定 */
#husky{
    width: 234px;
    position: absolute;
    top: 40%;
    left: 23%;
}

#shepherdDog{
    width: 268px;
    position: absolute;
    top: 38%;
    left: 44%;
}

#mix{
    width: 260px;
    position: absolute;
    top: 37.5%;
    right: 20.5%;
}

#husky:hover{
    cursor: pointer;
}

#shepherdDog:hover{
    cursor: pointer;
}

#mix:hover{
    cursor: pointer;
}

/* 勝利關卡設定 */
#husky-win{
    width: 256px;
    position: absolute;
    top: 39%;
    left: 22%;
}

#shepherdDog-win{
    width: 268px;
    position: absolute;
    top: 41%;
    left: 44%;
}

#mix-win{
    width: 262px;
    position: absolute;
    top: 40%;
    right: 20.5%;
}

#husky-win:hover{
    cursor: pointer;
}

#shepherdDog-win:hover{
    cursor: pointer;
}

#mix-win:hover{
    cursor: pointer;
}

/* card -------------------------------------------------------*/
.card {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 690px;
    height: 245px;
    cursor: pointer default;
}

#successMessage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 690px;
    height: 245px;
    cursor: pointer default;
}

.success-card{
    width: 840px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% -50%);
    z-index: 10;
    display: none;
}

.lose-card{
    width: 840px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% -50%);
    z-index: 10;
    display: none;
}

/* 品種卡 */
.dog-card{
    width: 840px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% -50%);
    z-index: 10;
    display: none;
}



/* 控制屬性 ----------------------------------------------------*/
.hidden {
    display: none;
}

.visible {
    display: block;
}